* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ka1';
    src: url(../fuentes/ka1.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    height: 100vh;
    width: 100vw;
}

.contenedorMain {
    height: 100%;
    background-color: #0A0A0A;
    color: #FBF9E4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorPunteo {
    background-color: #232323;
    font-family: 'ka1';
    font-size: 35px;
    width: 80%;
    height: 80px;
    margin-top: 40px;
    padding: 0 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.marcadorCompu p {
    text-align: end;
}

.puntajeJugador {
    color: #FFEE8C;
    margin-left: 15px;
}

.puntajeBot {
    color: #FFEE8C;
    margin-right: 15px;
}

.contenedorJuego {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.contenedorJugador,
.contenedorCompu {
    height: 300px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.ganadorRound {
    font-family: 'ka1';
    font-size: 30px;
    color: #92FD70;
    position: absolute;
    width: 300px;
    top: -70px;
    left: -30px;
    text-align: center;
}

.contenedorImagen img {
    width: 150px;
}

.contenedorBotones {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 70px;
    height: 70px;
    border: 3px solid #FBF9E4;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn i {
    font-size: 45px;
}

.btn:disabled {
    cursor: not-allowed;
    background-color: #0A0A0A;
    color: #FBF9E4;
    opacity: 0.7;
}

.btn:not(:disabled) {
    cursor: pointer;
    background-color: #0A0A0A;
    color: #FBF9E4;
}

.btn:not(:disabled):hover {
    background-color: #FBF9E4;
    color: #0A0A0A;
    transform: scale(1.2);
}

.contenedorPartida {
    width: 325px;
    position: relative;
}

.empate {
    position: absolute;
    top: -70px;
    left: 88px;
    margin-bottom: 20px;
    font-family: 'ka1';
    font-size: 30px;
    color: #FFEE8C;
}

.mostrarMensaje {
    text-align: center;
    font-family: 'ka1';
    font-size: 30px;
    color: #92FD70;
    position: relative;
    top: -30px;
    right: 138px;
    width: 600px;
}

.colorVerde {
    color: #92FD70;
}

.colorRojo {
    color: #FF746C;
}

.colorAmarillo {
    color: #FFEE8C;
}

.contenedorDuelo {
    width: 100%;
    height: 200px;
    border: 4px solid #FBF9E4;
    border-radius: 8px;
    text-align: center;
    padding: 15px;
}

.versus {
    font-family: 'ka1';
    font-size: 35px;
}

.partida {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contenedorIniciar {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.btnPartida {
    width: 250px;
    font-size: 28px;
    background-color: #FBF9E4;
    font-family: 'ka1';
    padding: 10px 0 10px 0;
    border-radius: 8px;
    cursor: pointer;
}

.btnPartida:hover {
    transform: scale(1.1) ;
}

.btnPartida:disabled {
    transform: none;
    background-color: #FBF9E4;
    color: #0A0A0A;
    opacity: 0.7;
    cursor: not-allowed;
}

.eleccionJugador i,
.eleccionCompu i {
    font-size: 80px;
}
